<app-navbar></app-navbar>
<div class="flex flex-col lg:flex-row items-center 
    justify-center min-h-screen mt-10">
    <div class="w-full lg:w-1/2 p-6 lg:p-12 
        bg-white shadow-lg rounded-xl m-2">
        <h1 class="text-center mt-5 mb-10 font-bold text-3xl">
            Privacy Policy
        </h1>
        <div class="text-black font-medium space-y-6">
            <p>
                Welcome to Space Share ("we", "us", or "our"). 
                We are committed to protecting your privacy. 
                This Privacy Policy explains how we collect, use, disclose, 
                and safeguard your information when you visit our website, 
                <a 
                    href="http://www.spaceshare.site" 
                    class="text-blue-500 underline" 
                    target="_blank">
                    www.spaceshare.ph
                </a>. 
                Please read this policy carefully. 
                If you do not agree with the terms of this Privacy Policy, 
                please do not access the Website.
            </p>
            <h2 class="font-bold text-xl mb-4">1. Information We Collect</h2>
            <p>
                We may collect personal information from you in a 
                variety of ways when you visit our Website, including:
            </p>
            <div class="pl-4">
                <h3 class="font-bold">a. Personal Data</h3>
                <p>
                    Account Information: When you register for an account, 
                    we may collect your name, email address, phone number, 
                    and other relevant details. 
                </p>
                <p>
                    Listing Information: When you post an apartment, 
                    we may collect details about the property, 
                    including location, price, and other descriptions.
                </p>
                <h3 class="font-bold">b. Non-Personal Data</h3>
                <p>
                    Usage Data: We may collect information about your 
                    interactions with the Website, such as IP address, 
                    browser type, access times, and the pages you viewed.
                </p>
                <h3 class="font-bold">c. Cookies and Tracking Technologies</h3>
                <p>
                    We may use cookies, web beacons, and other tracking 
                    technologies to collect information about your activity 
                    on our Website and store certain information.
                </p>
            </div>
            <h2 class="font-bold text-xl mb-4">
                2. How We Use Your Information
            </h2>
            <ul class="list-disc list-inside pl-4">
                <li>To provide, operate, and maintain our Website.</li>
                <li>To improve, personalize, and expand our Website.</li>
                <li>To understand and analyze how you use our Website.</li>
                <li>
                    To develop new products, services, features, 
                    and functionality.
                </li>
                <li>
                    To communicate with you, either directly or through one 
                    of our partners, including for customer service, to 
                    provide you with updates and other information relating 
                    to the Website, and for marketing and promotional purposes.
                </li>
                <li>To process your transactions and manage your orders.</li>
                <li>To send you emails and other communications.</li>
                <li>To find and prevent fraud.</li>
            </ul>
            <h2 class="font-bold text-xl mb-4">
                3. Sharing Your Information
            </h2>
            <p>
                We do not sell, trade, or otherwise transfer your 
                personal information to third parties without your 
                consent, except in the following circumstances:
            </p>
            <ul class="list-disc list-inside pl-4">
                <li class="font-bold">Service Providers:</li>
                <li>
                    We may share your information with third-party 
                    service providers who perform services on our behalf,
                    such as payment processing, data analysis, email delivery,
                    hosting services, customer service, 
                    and marketing assistance.
                </li>
                <li class="font-bold">Legal Requirements:</li>
                <li>
                    We may disclose your information if required to do so by 
                    law or in response to valid requests by public authorities 
                    (e.g., a court or government agency).
                </li>
                <li class="font-bold">Business Transfers:</li>
                <li>
                    We may share or transfer your information in connection 
                    with, or during negotiations of, any merger, sale of 
                    company assets, financing, or acquisition of all or a 
                    portion of our business to another company.
                </li>
            </ul>
            <h2 class="font-bold text-xl mb-4">4. Data Security</h2>
            <p>
                We use administrative, technical, and physical security 
                measures to help protect your personal information. 
                While we have taken reasonable steps to secure the 
                personal information you provide to us, please be aware that
                despite our efforts, no security measures are perfect or 
                impenetrable, and no method of data transmission can be 
                guaranteed against any interception or other type of misuse.
            </p>
            <h2 class="font-bold text-xl mb-4">
                5. Your Data Protection Rights
            </h2>
            <ul class="list-disc list-inside pl-4">
                <li>
                    Access: You have the right to request copies 
                    of your personal information.
                </li>
                <li>
                    Rectification: You have the right to request that we 
                    correct any information you believe is inaccurate or 
                    complete information you believe is incomplete.
                </li>
                <li>
                    Erasure: You have the right to request that we erase 
                    your personal information, under certain conditions.
                </li>
                <li>
                    Restrict Processing: You have the right to request that 
                    we restrict the processing of your personal information, 
                    under certain conditions.
                </li>
                <li>
                    Object to Processing: You have the right to object to 
                    our processing of your personal information, 
                    under certain conditions.
                </li>
                <li>
                    Data Portability: You have the right to request that we 
                    transfer the data that we have collected to another 
                    organization, or directly to you, under certain conditions.
                </li>
            </ul>
            <p>
                If you make a request, we have one month to respond to you. 
                If you would like to exercise any of these rights, 
                please contact us at our email: 
                <span class="font-bold">support.spaceshare.ph</span>.
            </p>
            <h2 class="font-bold text-xl mb-4">6. Third-Party Websites</h2>
            <p>
                Our Website may contain links to third-party websites. 
                This Privacy Policy does not apply to third-party websites 
                and we are not responsible for the privacy practices or 
                content of such sites. Please review the privacy policies 
                of any third-party websites you visit.
            </p>
            <h2 class="font-bold text-xl mb-4">
                7. Changes to This Privacy Policy
            </h2>
            <p>
                We may update this Privacy Policy from time to time. 
                We will notify you of any changes by posting the new 
                Privacy Policy on this page and updating the "Last Updated" 
                date at the top of this Privacy Policy. You are advised to 
                review this Privacy Policy periodically for any changes. 
                Changes to this Privacy Policy are effective when 
                they are posted on this page.
            </p>
        </div>
    </div>
</div>
<app-footer></app-footer>
