<div class="footer p-10 text-gray-900 mt-20 border-t border-gray-300">
  <nav>
    <h6 class="footer-title">Legal</h6>
    <a class="link link-hover" routerLink="/agreement/terms">
        Terms of use
    </a>
    <a class="link link-hover" routerLink="/agreement/privacy">
        Privacy policy
    </a>
    <a class="link link-hover" routerLink="/agreement/cookie">
        Cookie policy
    </a>
  </nav>
  <nav>
    <h6 class="footer-title">Company</h6>
    <a class="link link-hover" routerLink="/agreement/about">
        About us
    </a>
    <a class="link link-hover" routerLink="/agreement/presskit">
        Press kit
    </a>
  </nav>
  <nav>
    <h6 class="footer-title">Services</h6>
    <a class="link link-hover" routerLink="/agreement/renting">
        Renting
    </a>
  </nav>
</div>
<div class="footer px-10 py-4 border-t text-gray-500 border-base-300">
  <aside class="items-center grid-flow-col">
    <img src="../../assets/vrzn-logo.png" class="w-16 h-16" alt="VRZN Logo" />
    <p class="text-gray-700 font-bold">
        VRZN Industries Ltd.
      <span class="block"> Providing reliable tech since 2023.</span>
    </p>
  </aside>
  <nav class="md:place-self-center md:justify-self-end">
    <div class="grid grid-flow-col gap-4">
      <a href="#">
        <img src="../../assets/instagram-logo.svg" alt="Instagram" />
      </a>
      <a href="#">
        <img src="../../assets/twitter-logo.svg" alt="Twitter" />
      </a>
      <a href="#">
        <img src="../../assets/facebook-logo.svg" alt="Facebook" />
      </a>
    </div>
  </nav>
</div>
