<footer>
    <div class="footer p-10 bg-gray-200 text-gray-900 mt-20">
        <nav>
            <h6 class="footer-title">Company</h6> 
            <a class="link link-hover">About us</a>
            <a class="link link-hover">Jobs</a>
            <a class="link link-hover">Press kit</a>
        </nav> 
        <nav>
            <h6 class="footer-title">Legal</h6> 
            <a class="link link-hover">Terms of use</a>
            <a class="link link-hover">Privacy policy</a>
            <a class="link link-hover">Cookie policy</a>
        </nav>
        <nav>
            <h6 class="footer-title">Services</h6> 
            <a class="link link-hover">Branding</a>
            <a class="link link-hover">Renting</a>
            <a class="link link-hover">Advertisement</a>
        </nav> 
    </div>
    <div class="footer px-10 py-4 border-t  bg-gray-200
             text-gray-900 border-base-300">
             <aside class="items-center grid-flow-col">
                <img src="../../assets/logo.svg" alt="">
                <p>VRZN Industries Ltd. 
                    <span class="block">
                        Providing reliable tech since 2023.</span>
                </p>
            </aside>
        <nav class="md:place-self-center md:justify-self-end">
            <div class="grid grid-flow-col gap-4">
                <a href="#">
                   <img src="../../assets/instagram-logo.svg" alt="Instagram">
                </a>
                <a href="#">
                   <img src="../../assets/twitter-logo.svg" alt="Twitter">
                </a>
                <a href="#">
                   <img src="../../assets/facebook-logo.svg" alt="Facebook">
                </a>
            </div>
        </nav>
    </div>
</footer>
