<div class="footer p-10 text-gray-900 border-t bg-[#e9e9e9] border-gray-300">
  <nav>
    <h6 class="text-lg">Legal</h6>
    <a class="link link-hover" routerLink="/agreement/terms" (click)="scrollToTop()">
        Terms of use
    </a>
    <a class="link link-hover" routerLink="/agreement/privacy" (click)="scrollToTop()">
        Privacy policy
    </a>
    <a class="link link-hover" routerLink="/agreement/cookie" (click)="scrollToTop()">
        Cookie policy
    </a>
  </nav>
  <nav>
    <h6 class="text-lg">Company</h6>
    <a class="link link-hover" routerLink="/agreement/about" (click)="scrollToTop()">
        About us
    </a>
    <a class="link link-hover" routerLink="/agreement/presskit" (click)="scrollToTop()">
        Press kit
    </a>
  </nav>
  <nav>
    <h6 class="text-lg">Services</h6>
    <a class="link link-hover" routerLink="/agreement/renting" (click)="scrollToTop()">
        Renting
    </a>
  </nav>
</div>

<div class="footer px-10 py-5 text-gray-500 bg-[#e9e9e9]">
  <aside class="items-center grid-flow-col">
    <img src="../../assets/vrzn-logo.png" class="w-16 h-16" alt="VRZN Logo" />
    <p class="text-gray-700 font-bold">
        VRZN Industries Ltd.
      <span class="block"> Providing reliable tech since 2023.</span>
    </p>
  </aside>
  <nav class="md:place-self-center md:justify-self-end">
    <div class="grid grid-flow-col gap-4">
      <a href="#">
        <img src="../../assets/instagram-logo.svg" alt="Instagram" />
      </a>
      <a href="#">
        <img src="../../assets/twitter-logo.svg" alt="Twitter" />
      </a>
      <a href="#">
        <img src="../../assets/facebook-logo.svg" alt="Facebook" />
      </a>
    </div>
  </nav>
</div>
