<div class="card bg-white shadow-xl rounded-xl overflow-hidden cursor-pointer flex flex-col sm:flex-row">
    <div class="pic sm:w-1/3 my-3 ml-3">
        <img
          [src]="property.images[0].image_url"
          alt="House 1"
          class="w-full h-32 sm:h-full object-cover rounded-xl"
          [routerLink]="['/space/', property.id]"
        />
      </div>
    <div class="p-4 flex-1">
      <div [routerLink]="['/space/', property.id]">
        <span class="text-lg sm:text-xl md:text-base xl:text-xl font-semibold sm:mt-5 md:mt-0">
          {{ property.title| slice : 0 : 12 }}
          {{ property.title.length > 12 ? "..." : "" }}
        </span>
        <div class="divider my-0"></div>
        <div class="text-gray-500 text-sm max-h-28 min-h-28 flex-wrap break-words overflow-hidden">
          <span>Location: </span><span>{{ property.city }}</span><br>
          <span>Applied: </span><span>{{ reservation.created_at | date : 'MMM d, y' }}</span><br>
          <span>Status: </span><span>{{ reservation.status }}</span>
        </div>
        @if (reservation.status === 'Accepted') {
            <button class="btn btn-xs sm:btn-sm">Rate</button>
        }
      </div>
      <div class="absolute top-0 right-0 m-2 dropdown dropdown-end">
        <div tabindex="0" role="button" class="btn btn-ghost bg-white hover:bg-white btn-circle">
          <div class="relative w-5 h-5 overflow-hidden rounded-lg">
            <img src="../../../assets/kebab.svg" alt="options" class=" w-5 h-5">
          </div>
        </div>
        <ul tabindex="0" class="menu menu-sm dropdown-content z-20 p-2 shadow-md bg-white rounded-none w-auto">
          <li><a class="font-bold">Edit</a></li>
          <li><a class="font-bold">Delete</a></li>
        </ul>
      </div>
    </div>
  </div>