<div class="card bg-white shadow-xl rounded-xl overflow-hidden cursor-pointer" [routerLink]="['/space/', property.id]">
  <figure class="mt-3 mx-3">
    <img [src]="property.images[0].image_url" alt="House 1" class="w-full h-[10rem] object-cover rounded-xl" />
  </figure>
  <div class="card-body p-4">
    <div>
      <div class="flex items-center justify-between">
        <h2 class="card-title md:text-base lg:text-base xl:text-xl font-semibold">{{ property.title }}</h2>
        <div class="card-actions flex justify-end">
          <div class="dropdown dropdown-end" (click)="$event.stopPropagation()">
            <div tabindex="0" role="button" class="btn btn-ghost bg-white hover:bg-white btn-circle">
              <div class="relative w-5 h-5 overflow-hidden rounded-lg">
                <img src="../../../assets/kebab.svg" alt="options" class=" w-5 h-5">
              </div>
            </div>
            <ul tabindex="0" class="menu menu-sm dropdown-content z-20 p-2 shadow-xl bg-white rounded-none w-auto">
              <li><a class="font-semibold" (click)="handleDelete()">Delete</a></li>
            </ul>
          </div>
        </div>
      </div>
      
      <div class="divider my-0"></div>
      <div class="text-gray-500 text-sm flex-wrap break-words overflow-hidden w-full">
          <span>Location: </span><span>{{ property.city }}</span><br>
          <span>Applied: </span><span>{{ reservation.created_at | date: 'MMM d, y' }}</span><br>
          <span>Status: </span><span>{{ reservation.status }}</span>
      </div>

    </div>
  </div>
</div>



