@media (max-width: 767px) {
    .pic img{
        border-radius: 12px;
    }

    .pic {
        margin: 2% 0% 2% 2%;
    }
}

@media (max-width: 639px) {
    .pic img{
        border-radius: 0px;
    }

    .pic {
        margin:0%
    }
}