<div class="navbar bg-white border-b border-gray-300">
    <div class="container mx-auto max-w-screen-2xl flex justify-between items-center w-full">
        <div class="flex items-center">
            <img src="../assets/logo.svg" alt="Logo" class="logo mr-2 size-12" />
            <a class="text-2xl font-bold text-primary" routerLink="/home">Space Share</a>
        </div>
    @if(!loggedIn) {
        <div class="flex items-center space-x-4">
            <label for="log-in-mdl" class="btn rounded-btn bg-white text-primary">Log in</label>
            <label for="sign-up-mdl" class="btn rounded-btn bg-primary text-white hover:bg-[#9A58B6]">Sign Up</label>
            <app-login></app-login>
            <app-register></app-register>
        </div>   
    } @else{
        <div class="flex items-center space-x-1">
            <div class="tooltip tooltip-bottom" data-tip="Wishlist">
                <div role="button" tabindex="0"
                    class="btn btn-ghost btn-circle bg-white hover:bg-white border-none shadow-none mr-3" routerLink="/wishlist">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-9 w-9 ml-3 heart-icon" [ngClass]="{'red': isOnWishlistPage()}"
                        fill="none" stroke="black" viewBox="0 0 24 24">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                            d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
                    </svg>
                </div>
            </div>
            <div class="tooltip tooltip-bottom" data-tip="Add Property">
                <div tabindex="0" role="button" class="btn btn-circle bg-white border-none hover:bg-white" routerLink="/listing/add">
                    <div class="indicator">
                        <img src="../../../assets/add_property.png" alt="house-icon" class="h5 w5">
                    </div>
                </div>
            </div>   
            <div class="dropdown dropdown-end">
                <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar mx-5 border-gray-50">
                    <div class="relative w-10 h-10 overflow-hidden bg-gray-100 rounded-full dark:bg-gray-600">
                        <svg class="absolute w-12 h-12 text-gray-400 -left-1" fill="currentColor" viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd"></path>
                        </svg>
                    </div>
                </div>
                <ul tabindex="0" class="menu 
                    menu-sm 
                    dropdown-content 
                    mt-3 
                    z-20 
                    p-2 
                    shadow 
                    bg-white 
                    rounded-box 
                    w-52 ">
                    <li><a class="font-bold" routerLink="/profile">Profile</a></li>
                    <li><a class="font-bold" routerLink="/property/owned">My Properties</a></li>
                    <li><a class="font-bold" routerLink="/subscription">Subscription</a></li>
                    <li><a class="font-bold" (click)="signout()">Logout</a></li>
                </ul>
            </div>
        </div>
    }
    </div>
</div>
<router-outlet/>