<div class="navbar bg-white border-b border-gray-300">
    <div class="container mx-auto max-w-screen-2xl flex justify-between items-center w-full">
        <div class="flex items-center">
            <img src="../assets/logo.svg" alt="Logo" class="logo mr-2 size-12" />
            <a class="text-2xl font-bold text-primary">Space Share</a>
        </div>
    @if(!loggedIn) {
        <div class="flex items-center space-x-4">
            <label for="log-in-mdl" class="btn rounded-btn bg-white text-primary">Log in</label>
            <label for="sign-up-mdl" class="btn rounded-btn bg-primary text-white">Sign Up</label>
        </div>   
    } @else {
        <div class="flex items-center space-x-4">
            <div class="dropdown dropdown-end">
                <div tabindex="0" role="button" class="btn btn-ghost btn-circle mr-10">
                    <div class="indicator">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" />
                        </svg>
                        <span class="badge badge-sm indicator-item">0</span>
                    </div>
                </div>
                <div tabindex="0" class="mt-3 z-[1] 
                                card 
                                card-compact 
                                dropdown-content 
                                w-52 
                                bg-base-100 
                                shadow"></div>
            </div>
            <div class="dropdown dropdown-end">
                <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar mr-5">
                    <div class="w-10 rounded-full">
                        <img alt="Tailwind CSS Navbar component"
                            src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg" />
                    </div>
                </div>
                <ul tabindex="0" class="menu 
                    menu-sm 
                    dropdown-content 
                    mt-3 
                    z-[1] 
                    p-2 
                    shadow 
                    bg-base-100 
                    rounded-box w-52">
                    <li><a class="font-bold">Profile</a></li>
                    <li><a class="font-bold">Subscription</a></li>
                    <li><a class="font-bold">Terms and Conditions</a></li>
                    <li><a class="font-bold" (click)="signout()">Logout</a></li>
                </ul>
            </div>
        </div>
    }
    </div>
</div>