<div class="flex justify-center items-center">
  <div class="card 
            card-side 
            bg-base-100
            shadow-xl
            mt-10
            py-2 
            justify-center
            w-11/12">
    <div class="card-body items-center text-center">
      <h2 class="text-black text-3xl font-bold">Make an offer!</h2>
      <div class="flex items-center justify-center w-full mt-4">
        <input type="number" 
               placeholder="PHP" 
               class="input input-bordered flex-grow max-w-xs" />
        <button class="btn ml-2 w-auto text-white btn-primary 
                       bg-primary border-none hover:bg-[#9A58B6]">
                       Submit</button>
      </div>
    </div>
  </div>
</div>

