<h2 class="text-5xl font-bold text-center mt-24">Subscription</h2>
<div class="flex items-center justify-center mt-32 mb-32">
    <div class="hero-content flex-col lg:flex-row">
      <img
        src="https://via.placeholder.com/400x250"
        alt="Annual Subscription"
        class="max-w-sm rounded-lg shadow-2xl"/>
      <div>
        <h3 class="text-2xl font-bold">Annual Year Plan</h3>
        <p class="py-6">focuses on optimizing the customer experience, 
            increasing operational efficiency, and expanding our market reach. 
            To achieve this, we will enhance our online platform to make it 
            more user-friendly and efficient, allowing customers to easily 
            browse available rentals, make reservations, and manage their 
            bookings.
        </p>
        <button class="btn btn-primary">Avail Now!</button>
      </div>
    </div>
</div>
