<app-navbar/>

<!-- Modal Trigger -->
<input type="checkbox" id="my_modal_6" class="modal-toggle" />
<div class="modal">
  <div class="modal-box">
    <app-login></app-login>
    <div class="modal-action">
      <label for="my_modal_6" class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">&#x2715;</label>  
    </div>
  </div>
</div>
<input type="checkbox" id="sign-up-mdl" class="modal-toggle" />

<div class="modal">
  <div class="modal-box md:mx-300 w-full sm:w-11/12 md:w-4/5 lg:custom-modal-width ml-2">
    <app-register></app-register>
    <div class="modal-action">
      <label for="sign-up-mdl" class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">&#x2715;</label>  
    </div>
  </div>
</div>



<div class="flex justify-center space-x-4 p-4 relative z-10">
  <div class="dropdown">
    <label tabindex="0" class="label">Choose a City</label>
    <ul
      tabindex="0"
      class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52" >
      <li><a>City 1</a></li>
      <li><a>City 2</a></li>
      <li><a>City 3</a></li>
    </ul>
  </div>
  <div class="dropdown">
    <label tabindex="0" class="label">Budget</label>
    <ul
      tabindex="0"
      class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52" >
      <li><a>Option 1</a></li>
      <li><a>Option 2</a></li>
      <li><a>Option 3</a></li>
    </ul>
  </div>
  <div class="dropdown">
    <label tabindex="0" class="label">How many bedrooms?</label>
    <ul
      tabindex="0"
      class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52" >
      <li><a>1 Bedroom</a></li>
      <li><a>2 Bedrooms</a></li>
      <li><a>3 Bedrooms</a></li>
    </ul>
  </div>
</div>

<div class="fixed bottom-10 inset-x-0 flex justify-center items-center z-50">
  <div class="join bg-white rounded-lg shadow-md p-4">
    <button class="join-item btn">«</button>
    <button class="join-item btn">Page 1</button>
    <button class="join-item btn">»</button>
  </div>
</div>
