<div class="navbar bg-base-300 rounded-box">
    <div class="flex-1 px-2 lg:flex-none flex items-center">
        <img src="../assets/logo.svg" alt="Logo" class="logo mr-2">
        <a class="text-2xl font-bold text-primary">Space Share</a>
    </div>
    <div class="flex justify-end flex-1 px-4">
      <div class="flex items-stretch space-x-4">
        <a class="btn rounded-btn text-primary">Log in</a>
        <a class="btn rounded-btn bg-primary text-white">Sign Up</a>
      </div>
    </div>
  </div>
