<app-navbar/>

<app-login></app-login>

<input type="checkbox" id="sign-up-mdl" class="modal-toggle" />
<div class="modal">
  <div class="modal-box md:mx-300 w-full sm:w-11/12 md:w-4/5 lg:custom-modal-width ml-2">
    <app-register></app-register>
    <div class="modal-action">
      <label for="sign-up-mdl" class="btn btn-sm btn-circle btn-ghost text-lg absolute right-2 top-2">&#x2715;</label>  
    </div>
  </div>
</div>
<div class="flex justify-center space-x-4 p-4 relative z-10">
  <div class="dropdown">
    <label tabindex="0" class="label">Choose a City</label>
    <ul
      tabindex="0"
      class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-40" >
      <li><a>Caloocan</a></li>
      <li><a>Las Piñas</a></li>
      <li><a>Makati</a></li>
      <li><a>Malabon</a></li>
      <li><a>Mandaluyong</a></li>
      <li><a>Manila</a></li>
      <li><a>Marikina</a></li>
      <li><a>Muntinlupa</a></li>
      <li><a>Navotas</a></li>
      <li><a>Parañaque</a></li>
      <li><a>Pasay</a></li>
      <li><a>Pasig</a></li>
      <li><a>Quezon City</a></li>
      <li><a>San Juan</a></li>
      <li><a>Taguig</a></li>
      <li><a>Valenzuela</a></li>
    </ul>
  </div>
  <div class="dropdown">
    <label tabindex="0" class="label">Budget</label>
    <ul
      tabindex="0"
      class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-40" >
      <li><a>0 - 5,000</a></li>
      <li><a>5,000 - 10,000</a></li>
      <li><a>10,000 - 15,000</a></li>
      <li><a>15,000 - 20,000</a></li>
    </ul>
  </div>
  <div class="dropdown">
    <label tabindex="0" class="label">How many bedrooms?</label>
    <ul
      tabindex="0"
      class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-40" >
      <li><a>1 (One)</a></li>
      <li><a>2 (Two)</a></li>
      <li><a>3 or more</a></li>
    </ul>
  </div>
</div>
