<input type="checkbox" id="sign-up-mdl" class="modal-toggle" #modalToggle />
<div class="modal">
  <div class="modal-box md:mx-300 w-full sm:w-11/12 md:w-4/5 lg:custom-modal-width ml-2">
    <div>
      @if (!verificationMode) {
        <h1 class="text-3xl font-bold text-center">Register Now!</h1>
        @if (!firstPage) {
          <div class="modal-action">
            <label for="verification-mdl"
              class="btn mt-2 ml-1 btn-sm btn-circle btn-ghost font-bold text-2xl absolute left-2 top-2" (click)="prevPage()">&#8592;</label>
          </div>
        }
        <div class="flex justify-center mt-4">
          <ul class="steps w-full">
            <li class="step" [ngClass]="{'step-secondary' : firstPage || secondPage || thirdPage || fourthPage}">Info</li>
            <li class="step" [ngClass]="{'step-secondary' : secondPage || thirdPage || fourthPage}">Location</li>
            <li class="step" [ngClass]="{'step-secondary' : thirdPage || fourthPage}">Password</li>
            <li class="step" [ngClass]="{'step-secondary' : fourthPage}">Complete</li>
          </ul>
        </div>
        
        <form class="grid grid-cols-1 gap-6 mt-8 md:grid-cols-2" [formGroup]="registerForm">
          @if (firstPage) {
            <div>
              <input type="text" placeholder="Your Name" formControlName="firstName"
              [ngClass]="getValidationClass(firstNameControl)" class="block w-full px-5 py-3 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-lg focus:border-blue-400 dark:focus:border-blue-400 focus:ring-blue-400 focus:outline-none focus:ring focus:ring-opacity-40" />
              @if (firstNameControl.invalid && firstNameControl.touched) {
                @if (firstNameControl.errors?.['required']) {
                  <div class="error-message text-red-500 pl-3">First Name Must Not Null</div>
                }
                @if (firstNameControl.errors?.['maxlength']) {
                  <div class="error-message text-red-500 pl-3">First Name must be at least 1 to 60 Characters</div>
                }
                @if (firstNameControl.errors?.['pattern']) {
                  <div class="error-message text-red-500 pl-3">Must Enter Valid First Name</div>
                }
              }
            </div>
            <div>
              <input type="text" placeholder="Last Name" formControlName="lastName"
              [ngClass]="getValidationClass(lastNameControl)" class="block w-full px-5 py-3 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-lg focus:border-blue-400 dark:focus:border-blue-400 focus:ring-blue-400 focus:outline-none focus:ring focus:ring-opacity-40" />
              @if (lastNameControl.invalid && lastNameControl.touched) {
                @if (lastNameControl.errors?.['required']) {
                  <div class="error-message text-red-500 pl-3">Last Name Must Not Null</div>
                }
                @if (lastNameControl.errors?.['maxlength']) {
                  <div class="error-message text-red-500 pl-3">Last Name must be at least 1 to 60 Characters</div>
                }
                @if (lastNameControl.errors?.['pattern']) {
                  <div class="error-message text-red-500 pl-3">Must Enter Valid Last Name</div>
                }
              }
            </div>
            <div>
              <input type="text" placeholder="Middle Name" formControlName="middleName"
              [ngClass]="getValidationClass(middleNameControl)" class=" block w-full px-5 py-3 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-lg focus:border-blue-400 dark:focus:border-blue-400 focus:ring-blue-400 focus:outline-none focus:ring focus:ring-opacity-40" />
              @if (middleNameControl.invalid && middleNameControl.touched) {
                @if (middleNameControl.errors?.['pattern']) {
                  <div class="error-message text-red-500 pl-3">Must Enter Valid Middle Name</div>
                }
                @if (middleNameControl.errors?.['maxlength']) {
                  <div class="error-message text-red-500 pl-3">Middle Name must be at least 1 to 60 Characters</div>
                }
              }
            </div>
            <div>
              <input type="text" placeholder="Phone Number" formControlName="phoneNumber"
              [ngClass]="getValidationClass(phoneNumberControl)" class="block w-full px-5 py-3 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-lg focus:border-blue-400 dark:focus:border-blue-400 focus:ring-blue-400 focus:outline-none focus:ring focus:ring-opacity-40" />
              @if (phoneNumberControl.invalid && phoneNumberControl.touched) {
                @if (phoneNumberControl.errors?.['required']) {
                  <div class="error-message text-red-500 pl-3">Phone No: Must Not Null</div>
                }
                @if (phoneNumberControl.errors?.['pattern']) {
                  <div class="error-message text-red-500 pl-3">Input Valid Phone No Format ex: 09123456789</div>
                }
              }
            </div>
            <div>
              <input type="email" placeholder="email@sample.com" formControlName="email"
              [ngClass]="getValidationClass(emailControl)" class="block w-full px-5 py-3 mt-7 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-lg focus:border-blue-400 dark:focus:border-blue-400 focus:ring-blue-400 focus:outline-none focus:ring focus:ring-opacity-40" />
              @if (emailControl.invalid && emailControl.touched) {
                @if (emailControl.errors?.['required']) {
                  <div class="error-message text-red-500 pl-3">Must Input Email Address</div>
                }
                @if (emailControl.errors?.['email']) {
                  <div class="error-message text-red-500 pl-3">Must Input Valid Email Address</div>
                }
              }
            </div>
            <div>
              <label for="birthdate" class="block text-sm font-medium text-gray-700">Date of Birth</label>
              <input type="date" id="birthdate" formControlName="birthdate"
              [ngClass]="getValidationClass(birthdateControl)" class="block w-full px-4 py-2.5 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-lg focus:border-blue-400 dark:focus:border-blue-400 focus:ring-blue-400 focus:outline-none focus:ring focus:ring-opacity-40" />
              @if (birthdateControl.invalid && birthdateControl.touched) {
                @if (birthdateControl.errors?.['required']) {
                  <div class="error-message text-red-500 pl-3">Date of Birth must not be null</div>
                }
                @if (birthdateControl.errors?.['adultAge']) {
                  <div class="error-message text-red-500 pl-3">Enter Valid Birthday and Must be 18 Years Old</div>
                }
              }
            </div>
            <div class="col-span-1 md:col-span-2 flex justify-center">
              <button (click)="nextPage()" [disabled]="!areRequiredFieldsValid(1)" [ngClass]="{'disabled-button': !areRequiredFieldsValid(1)}"
              class="w-full px-6 py-3 mt-4 text-sm font-medium tracking-wide text-white capitalize transition-colors duration-300 transform bg-[#8644a2] rounded-lg hover:bg-blue-400 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-50">
                Continue
              </button>
            </div>
          } 
          @else if (secondPage) {
            <div class="mb-4">
              <label for="region" class="block text-sm font-medium text-gray-700">Region:</label>
              <select id="region" name="region" formControlName="region" (change)="onRegionChange()"
              [ngClass]="getValidationClass(regionControl)" class="mt-1 block w-full px-5 py-3 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-lg focus:border-blue-400 focus:ring-blue-400 focus:outline-none focus:ring focus:ring-opacity-40">
                <option value="" selected disabled>Choose Region</option>
                @for (region of regions; track region.region_code) {
                  <option [value]="region.region_code">
                    {{ region.region_name.toUpperCase() }}
                  </option>
                }
              </select>
            </div>
            <div class="mb-1">
              <label for="province" class="block text-sm font-medium text-gray-700">Province:</label>
              <select id="province" name="province" formControlName="province" [disabled]="!selectedRegion"
              [ngClass]="getValidationClass(provinceControl)" (change)="onProvinceChange()"
              class="mt-1 block w-full px-5 py-3 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-lg focus:border-blue-400 focus:ring-blue-400 focus:outline-none focus:ring focus:ring-opacity-40">
                <option value="" selected disabled>Choose Province</option>
                @for (province of provinces; track province.province_code) {
                  <option [value]="province.province_code">
                    {{ province.province_name.toUpperCase() }}
                  </option>
                }
              </select>
            </div>
            <div class="mb-4">
              <label for="city" class="block text-sm font-medium text-gray-700">City:</label>
              <select id="city" name="city" formControlName="city" [disabled]="!selectedProvince" (change)="onCityChange()"
                [ngClass]="getValidationClass(cityControl)" class="mt-1 block w-full px-5 py-3 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-lg focus:border-blue-400 focus:ring-blue-400 focus:outline-none focus:ring focus:ring-opacity-40">
                <option value="" selected disabled>Choose City</option>
                @for (city of cities; track city.city_code) {
                  <option [value]="city.city_code">
                    {{ city.city_name.toUpperCase() }}
                  </option>
                }
              </select>
            </div>            
            <div>
              <input type="text" placeholder="Postal Code" formControlName="postalCode"
              [ngClass]="getValidationClass(postalCodeControl)" class="block w-full px-5 py-3 mt-5 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-lg focus:border-blue-400 dark:focus:border-blue-400 focus:ring-blue-400 focus:outline-none focus:ring focus:ring-opacity-40" />
              @if (postalCodeControl.invalid && postalCodeControl.touched) {
                @if (postalCodeControl.errors?.['required']) {
                  <div class="error-message text-red-500 pl-3">Postal code must not be null</div>
                }
                @if (postalCodeControl.errors?.['pattern']) {
                  <div class="error-message text-red-500 pl-3">Must be 4-digit and No Alphanumeric Characters</div>
                }
              }
            </div>
            <div class="col-span-1 md:col-span-2 flex justify-center">
              <button (click)="nextPage()" [disabled]="!areRequiredFieldsValid(2)" [ngClass]="{'disabled-button': !areRequiredFieldsValid(2)}"
              class="w-full px-6 py-3 mt-4 text-sm font-medium tracking-wide text-white capitalize transition-colors duration-300 transform bg-[#8644a2] rounded-lg hover:bg-blue-400 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-50">
                Continue
              </button>
            </div>
          } 
          @else if (thirdPage) {
            <div>
              <input type="password" placeholder="Enter your password" formControlName="password"
              [ngClass]="getValidationClass(passwordControl)" class="block w-full px-5 py-3 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-lg focus:border-blue-400 dark:focus:border-blue-400 focus:ring-blue-400 focus:outline-none focus:ring focus:ring-opacity-40" />
              @if (passwordControl.invalid && passwordControl.touched) {
                @if (passwordControl.errors?.['required']) {
                  <div class="error-message text-red-500 pl-3">Password must not be null</div>
                }
                @if (passwordControl.errors?.['strong']) {
                  <div class="error-message text-red-500 pl-3">Must have at least one number, one lowercase letter, one
                    uppercase letter and one special Characters</div>
                }
              }
            </div>
            <div>
              <input type="password" placeholder="Confirm your Password" formControlName="confirmPassword"
              [ngClass]="getValidationClass(confirmPasswordControl)" class="block w-full px-5 py-3 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-lg focus:border-blue-400 dark:focus:border-blue-400 focus:ring-blue-400 focus:outline-none focus:ring focus:ring-opacity-40" />
              @if (confirmPasswordControl.invalid && confirmPasswordControl.touched) {
                @if (confirmPasswordControl.errors?.['required']) {
                  <div class="error-message text-red-500 pl-3">Confirm Password must not be null</div>
                }
                @if (confirmPasswordControl.errors?.['passwordMismatch']) {
                  <div class="error-message text-red-500 pl-3">Passwords do not match</div>
                }
              }
            </div>
            <div class="col-span-1 md:col-span-2 flex justify-center">
              <button (click)="nextPage()" [disabled]="!areRequiredFieldsValid(3)" [ngClass]="{'disabled-button': !areRequiredFieldsValid(3)}"
              class="w-full px-6 py-3 mt-4 text-sm font-medium tracking-wide text-white capitalize transition-colors duration-300 transform bg-[#8644a2] rounded-lg hover:bg-blue-400 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-50">
                Continue
              </button>
            </div>
          } 
          @else if (fourthPage) {
            <div class="col-span-1 md:col-span-2 bg-white w-full rounded-lg shadow-xl">
              <div class="p-4 border-b">
                <h2 class="text-2xl font-bold">Review Your Details</h2>
                <p class="text-sm text-gray-500">Analyze each detail before submitting it.</p>
              </div>
              <div class="col-span-1 md:col-span-2">
                <div class="md:grid md:grid-cols-2 hover:bg-gray-50 p-4">
                  <p class="text-gray-600 font-medium">First Name</p>
                  <p class="break-all">{{ getFormValues().firstName }}</p>
                </div>
                <div class="md:grid md:grid-cols-2 hover:bg-gray-50 p-4">
                  <p class="text-gray-600 font-medium">Last Name</p>
                  <p class="break-all">{{ getFormValues().lastName }}</p>
                </div>
                <div class="md:grid md:grid-cols-2 hover:bg-gray-50 p-4">
                  <p class="text-gray-600 font-medium">Email</p>
                  <p class="break-all">{{ getFormValues().email }}</p>
                </div>
                <div class="md:grid md:grid-cols-2 hover:bg-gray-50 p-4">
                  <p class="text-gray-600 font-medium">Phone Number</p>
                  <p class="break-all">{{ getFormValues().phoneNumber }}</p>
                </div>
                <div class="md:grid md:grid-cols-2 hover:bg-gray-50 p-4">
                  <p class="text-gray-600 font-medium">Birthdate</p>
                  <p class="break-all">{{ getFormValues().birthdate | date:'mediumDate' }}</p>
                </div>
                <div class="md:grid md:grid-cols-2 hover:bg-gray-50 p-4">
                  <p class="text-gray-600 font-medium">Region</p>
                  <p class="break-all">{{ getFormValues().region }}</p>
                </div>
                <div class="md:grid md:grid-cols-2 hover:bg-gray-50 p-4">
                  <p class="text-gray-600 font-medium">Province</p>
                  <p class="break-all">{{ getFormValues().province }}</p>
                </div>
                <div class="md:grid md:grid-cols-2 hover:bg-gray-50 p-4">
                  <p class="text-gray-600 font-medium">City</p>
                  <p class="break-all">{{ getFormValues().city }}</p>
                </div>
                <div class="md:grid md:grid-cols-2 hover:bg-gray-50 p-4">
                  <p class="text-gray-600 font-medium">Postal Code</p>
                  <p class="break-all">{{ getFormValues().postalCode }}</p>
                </div>
              </div>
            </div>        
            <div class="col-span-1 md:col-span-2 flex justify-center">
              <button (click)="handleSubmit()" [disabled]="!registerForm.valid" [ngClass]="{'disabled-button': !registerForm.valid}"
              class="w-full px-6 py-3 mt-4 text-sm font-medium tracking-wide text-white capitalize transition-colors duration-300 transform bg-[#8644a2] rounded-lg hover:bg-blue-400 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-50">
                Register
              </button>
            </div>
          }
        </form>
        <div class="col-span-1 md:col-span-2 flex justify-center">
          <label for="log-in-mdl" class="text-sm text-blue-500 hover:underline dark:text-blue-400 cursor-pointer mt-5"
            (click)="closeModal()">
            Already have an account?
          </label>
        </div>
        <div class="col-span-1 md:col-span-2 flex justify-center">
          <p class="mt-6 text-center text-gray-500 dark:text-gray-400">
            By clicking “Continue” above, you acknowledge that you have read and
            understood, and agree to our
            <a href="#" class="text-violet-700 dark:text-violet-500">Terms & Conditions</a>
            and
            <a href="#" class="text-violet-700 dark:text-violet-500">Privacy Policy</a>.
          </p>
        </div>
      } @else {
        <app-verification [email]="registerForm.get('email')?.value" [code]="randomNumber" [userToCreate]="bodyToPass" />
        <div class="modal-action">
          <label for="verification-mdl" class="btn btn-sm btn-circle btn-ghost font-bold text-2xl absolute left-2 top-2" (click)="prevPage()">&#8592;</label>
        </div>
      }
      
    </div>
    <div class="modal-action">
      <label for="sign-up-mdl" class="btn btn-sm btn-circle btn-ghost text-lg absolute right-2 top-2">&#x2715;</label>
    </div>
  </div>
</div>
