<div class="bg-gray-100 flex items-center justify-center h-screen">
  <div class="card w-96 bg-white shadow-xl">
    <div class="card-body items-center text-center">
      <img
        src="../../assets/undraw_under_construction_46pa.png"
        class="h-100 w-100"/>
      <h2 class="card-title">Something Went Wrong</h2>
      <p>We encountered an unexpected error. Please try again later.</p>
      <div class="card-actions justify-end">
        <a
          href="/home"
          class="btn btn-primary text-white bg-primary border-none 
          hover:bg-[#9A58B6] mt-5">
          Go Back
        </a>
      </div>
    </div>
  </div>
</div>
