<div class="card bg-white shadow-xl rounded-lg overflow-hidden cursor-pointer" [routerLink]="['/property', cardId]">
    <figure class="relative">
      <img
        src="https://via.placeholder.com/400x250"
        alt="House 1"
        class="w-full h-48 object-cover" />
    </figure>
    <div class="card-body p-4">
      <h2 class="card-title text-lg font-semibold">{{ card?.title}}</h2>
      <p class="flex items-center text-gray-600 mb-2">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5 mr-1 text-red-500"
          viewBox="0 0 20 20"
          fill="currentColor" >
          <path
            fill-rule="evenodd"
            d="M5.05 5.05a7 7 0 019.9 0c2.66 2.66 2.66 6.972 0 9.638L10 19.636 5.05 14.688c-2.66-2.666-2.66-6.972 0-9.638zm1.414 1.414a5 5 0 017.072 0c2.01 2.01 2.01 5.277 0 7.288L10 17.873l-3.536-3.536a5 5 0 010-7.072z"
            clip-rule="evenodd" />
          <path
            fill-rule="evenodd"
            d="M10 10a2 2 0 110-4 2 2 0 010 4zm0-2a.5.5 0 100-1 .5.5 0 000 1z"
            clip-rule="evenodd" />
        </svg>
        {{ card?.location }}
      </p>
      <p class="text-gray-500 text-sm">
        {{ card?.description }}
      </p>
      <div class="card-actions justify-end mt-4">
        <span class="text-lg font-bold">₱{{ card?.price?.toLocaleString() }}</span>
      </div>
    </div>
</div>
