<app-navbar></app-navbar>
    <app-carousel></app-carousel>
      <div class="max-w-7xl 
                  p-8 
                  mx-auto 
                  bg-white
                  rounded-lg 
                  shadow-lg 
                  grid 
                  grid-cols-1 
                  md:grid-cols-2 
                  gap-8 
                  mb-10">
        <!-- Left Column -->
        <app-info [property]="property"></app-info>
        <!-- Right Column -->
        <app-features></app-features>
      </div>
<app-footer/>
