.carousel-item {
    width: 100%;
    align-items: center;
    justify-content: center;
}

.carousel-item img {
    border-radius: 20px;
    height: 600px;
    width: 70%;
    object-fit: cover;
    margin-top: 100px;
}

.scrollable-content {
    max-height: 295px;
    overflow-y: auto;
  }
  