<div class="bg-gray-100 flex items-center justify-center h-screen">
    <div class="card w-96 bg-white shadow-xl">
        <div class="card-body items-center text-center">
            <img src="../../assets/undraw_Notify_re_65on.png" 
                 class="h-100 w-100">
                 <h2 class="card-title">Unauthorized Access</h2>
                 <p>
                    You do not have permission to view this content. 
                    Please contact the administrator if you believe this is an error.
                </p>
            <div class="card-actions justify-end">
                <a href="/home" class="btn 
                           btn-primary 
                           text-white 
                             bg-primary 
                             border-none 
                           hover:bg-[#9A58B6] mt-5">Go Back</a>
            </div>
        </div>
    </div>
</div>