<div class="flex flex-col lg:flex-row items-center 
    justify-center min-h-screen">
    <div class="w-full lg:w-1/2 p-6 lg:p-12 
        bg-white rounded-xl m-2">
        <div class="text-black font-medium space-y-6">
            <h1 class="text-center mb-10 font-bold text-3xl">
                Find Your Perfect Place with Space Share!
            </h1>
            <h2 class="font-bold text-lg">Welcome Renters!</h2> 
            <p>
                Space Share is your key to unlocking a smooth and 
                affordable apartment search in the National Capital Region. 
                We offer a vast selection of listings with a focus on 
                budget-friendly options, making it easier than ever 
                to find your ideal home.
            </p>
            <h2 class="font-bold text-xl mb-4">
                Here's what makes Space Share the perfect choice for you:
            </h2>
            <ul class="list-disc list-inside">
                <li>
                    <span class="font-bold">Extensive Listings:</span> 
                    Explore a diverse range of apartments across the NCR, 
                    from cozy studios to spacious family homes.
                </li>
                <li>
                    <span class="font-bold">Budget-Friendly Focus:</span> 
                    We prioritize affordability, allowing you to filter 
                    for listings that fit your budget and avoid hidden fees.
                </li>
                <li>
                    <span class="font-bold">Detailed Search Filters:</span> 
                    Narrow down your search with our filtering options. 
                    Find your perfect place based on location, price range 
                    and more.
                </li>
                <li>
                    <span class="font-bold">
                        Direct Communication with Landlords:
                    </span> 
                    Contact apartment owners directly through 
                    our website to inquire about 
                    listings and schedule viewings.
                </li>
                <li>
                    <span class="font-bold">Save Your Favorites:</span> 
                    Bookmark listings you love and come back to 
                    them later for easy comparison.
                </li>
            </ul>
            <h2 class="font-bold text-xl mb-4">Ready to find your dream apartment?</h2>
            <ul class="list-decimal list-inside">
                <li>
                    <span class="font-bold">Create a Free Account:</span> 
                    Signing up is quick and easy!
                </li>
                <li>
                    <span class="font-bold">Refine Your Search:</span> 
                    Utilize our search filters to find apartments 
                    that meet your specific needs.
                </li>
                <li>
                    <span class="font-bold">Browse Listings:</span> 
                    Explore photos, descriptions, and key 
                    details of available apartments.
                </li>
                <li>
                    <span class="font-bold">Contact Landlords:</span> 
                    Send messages directly to landlords to inquire 
                    about listings and schedule viewings.
                </li>
                <li>
                    <span class="font-bold">Find Your Perfect Place:</span> 
                    Move into your dream apartment and enjoy 
                    your new home in the NCR!
                </li>
            </ul>
            <p>
                Let Space Share guide you to a stress-free and 
                affordable apartment search. <span class="font-bold">
                Start your journey today!</span>
            </p>
            <div class="flex justify-center mt-10">
                <button 
                    class="bg-primary hover:bg-purple-500 text-white 
                    font-bold py-2 px-4 rounded" routerLink="/home">
                    Browse Apartments Now!
                </button>
            </div>
        </div>
    </div>
</div>