<app-navbar></app-navbar>
<div class="flex flex-col lg:flex-row items-center 
    justify-center min-h-screen mt-10">
    <div class="w-full lg:w-1/2 p-6 lg:p-12 
        bg-white shadow-lg rounded-xl m-2">
        <h1 class="text-center text-black mt-5 mb-10 font-bold text-3xl">
            Cookie Policy
        </h1>
        <div class="text-black font-medium space-y-6">
            <p>
                This Cookie Policy explains how Space Share 
                ("we", "us", or "our") uses cookies and similar 
                technologies on our website, www.spaceshare.ph (the "Website"). 
                It explains what these technologies are and why we use them, 
                as well as your rights to control our use of them.
            </p>
            <h2 class="font-bold">What are cookies?</h2>
            <p>
                Cookies are small data files that are placed on your computer 
                or mobile device when you visit a website. Cookies are 
                widely used by website owners to make their websites work, 
                or to work more efficiently, as well as to 
                provide reporting information.
            </p>
            <h2 class="font-bold">What types of cookies do we use?</h2>
            <p>
                We use a combination of first-party and third-party cookies 
                on our Website for the following purposes:
            </p>
            <h2 class="font-bold">Essential Cookies:</h2>
            <p>
                These cookies are strictly necessary for the operation of 
                our Website. They allow you to navigate the Website and use 
                its features, such as accessing secure areas of the Website. 
                Without these cookies, our Website cannot function properly.
            </p>
            <h2 class="font-bold">Performance Cookies:</h2>
            <p>
                These cookies collect information about how you use 
                our Website, such as which pages you visit and how long 
                you spend on each page. This information helps us 
                improve the performance of our Website and 
                provide a better user experience.
            </p>
            <h2 class="font-bold">Functionality Cookies:</h2>
            <p>
                These cookies allow our Website to remember your preferences, 
                such as your preferred language or location. 
                This allows us to personalize your experience on our Website.
            </p>
            <h2 class="font-bold">Targeting Cookies:</h2>
            <p>
                These cookies may be placed on your device by us 
                or our third-party partners. They are used to build 
                a profile of your interests and show you 
                relevant advertising on other websites.
            </p>
            <h2 class="font-bold">How to control cookies</h2>
            <p>
                You have the right to decide whether to accept or 
                reject cookies. You can exercise your cookie rights by 
                setting your preferences in your web browser. 
                Most web browsers allow you to control all or 
                some cookie types through your browser settings.
            </p>
            <p>
                Here are links to resources where you can learn more about 
                how to control cookies on popular browsers:
            </p>
            <ul class="list-disc list-inside">
                <li>
                    <a href="https://support.google.com/chrome/answer/95647?hl=en&co=GENIE.Platform%3DAndroid" 
                       target="_blank" 
                       class="text-blue-500 underline">Google Chrome</a>
                </li>
                <li>
                    <a href="https://support.mozilla.org/en/products/firefox/protect-your-privacy/cookies" 
                       target="_blank" 
                       class="text-blue-500 underline">Mozilla Firefox</a>
                </li>
                <li>
                    <a href="https://support.apple.com/en-us/105082" 
                       target="_blank" 
                       class="text-blue-500 underline">Apple Safari</a>
                </li>
                <li>
                    <a href="https://support.microsoft.com/en-us/windows/manage-cookies-in-microsoft-edge-view-allow-block-delete-and-use-168dab11-0753-043d-7c16-ede5947fc64d" 
                       target="_blank" 
                       class="text-blue-500 underline">Microsoft Edge</a>
                </li>
            </ul>
            <p>
                Please be aware that blocking cookies may affect your 
                experience on our Website.
            </p>
            <h2 class="font-bold">Changes to this Cookie Policy</h2>
            <p>
                We may update this Cookie Policy from time to time. 
                We will notify you of any changes by posting the 
                new Cookie Policy on this page.
            </p>
            <h2 class="font-bold">Contact Us</h2>
            <p>
                If you have any questions about this Cookie Policy, 
                please contact us at our email: 
                <span class="email">support.spaceshare.ph</span>.
            </p>
        </div>
    </div>
</div>
<app-footer></app-footer>
