<h2 class="text-2xl font-bold text-center mt-24 sm:text-
    3xl xl:text-5xl">
    Personal Information</h2>
<div class="container mx-auto p-4 sm:p-6 max-w-2xl mt-8">
    <div class="flex flex-col sm:flex-row">
        <div class="flex flex-col items-center sm:items-start 
                sm:w-1/3 p-4 mt-4 h-full">
            <div class="w-40 flex flex-col items-center space-y-2">
                <img src="https://via.placeholder.com/400x250" 
                    alt="Profile Image"
                    class="w-full h-40 rounded-lg shadow-lg mb-4">
                <div class="flex w-full space-x-2">
                    @if(!isEditMode) {
                        <button class="btn btn-sm 
                            btn-secondary flex-1"
                            (click)="isEditMode = true">
                            Edit
                        </button>
                    } @else {
                        <button class="btn btn-sm 
                            btn-primary flex-1"
                            (click)="isEditMode = false">
                            Save Changes
                        </button>
                    }
                </div>
                @if(isEditMode) {
                    <button class="btn btn-sm 
                        btn-error w-full"
                        (click)="isEditMode = false">
                        Cancel
                    </button>
                } @else {
                    <button class="btn btn-sm 
                        btn-error w-full"
                        [disabled]="isEditMode">
                        Delete Account
                    </button>
                }
            </div>                
        </div>
        <div class="sm:w-2/3 p-4 flex flex-col justify-between h-full">
            <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
                <div>
                    <label class="font-semibold text-3xl" for="first-name">
                        <span class="label-text">First Name</span>
                    </label>
                    <p class="text-gray-800 text-xl font-medium">
                        {{ firstName }}
                    </p>
                </div>
                <div>
                    <label class="font-semibold text-3xl" for="last-name">
                        <span class="label-text">Last Name</span>
                    </label>
                    <p class="text-gray-800 text-xl font-medium">
                        {{ lastName }}
                    </p>
                </div>
            </div>
            <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 mt-4">
                <div>
                    <label class="font-semibold text-3xl" for="phone">
                        <span class="label-text">Phone</span>
                    </label>
                    <p class="text-gray-800 text-xl font-medium">
                        {{ phone }}
                    </p>
                </div>
                <div>
                    <label class="font-semibold text-3xl" for="birthday">
                        <span class="label-text">Birthday</span>
                    </label>
                    <p class="text-gray-800 text-xl font-medium">
                        {{ birthday }}
                    </p>
                </div>
            </div>
            <div class="mt-4">
                <label class="font-semibold text-3xl" for="email">
                    <span class="label-text">Email</span>
                </label>
                <p class="text-gray-800 text-xl font-medium">
                    {{ email }}
                </p>
            </div>
            <div class="mt-4">
                <label class="font-semibold text-3xl" for="password">
                    <span class="label-text">Password</span>
                </label>
                <p class="text-gray-800 text-xl font-medium">
                    {{ password }}
                </p>
            </div>
        </div>
    </div>
</div>