<app-navbar></app-navbar>
<h2 class="text-2xl font-bold text-center mt-24 sm:text-3xl xl:text-5xl">
    Personal Information
</h2>
<div class="container mx-auto p-4 sm:p-6 max-w-2xl">
    <form class="flex flex-col sm:flex-row" [formGroup]="editForm">
        <div class="flex flex-col items-center sm:items-start sm:w-1/3 p-4 mt-4 h-full">
            <div class="w-40 flex flex-col items-center space-y-2">
                <div class="overflow-hidden bg-gray-100 rounded-full dark:bg-gray-600 mb-8">
                    <svg class="w-24 h-24 text-gray-400 -left-1" fill="currentColor" viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd"></path>
                    </svg>
                </div>
                @if(!isEditMode) {
                    <button class="btn btn-sm btn-secondary w-full" (click)="editMode()">
                        Edit
                    </button>
                } @else {
                    <button class="btn btn-sm btn-primary w-full" (click)="onSubmit()"
                        [disabled]="!editForm.valid"
                        [ngClass]="{'disabled-button': !editForm.valid}">              
                        Save Changes
                    </button>
                    <button class="btn btn-sm btn-error w-full" (click)="cancelChanges()">
                        Cancel
                    </button>
                }
            </div>                
        </div>
        <div class="sm:w-2/3 p-4 flex flex-col justify-between h-full">
            @if(!isEditMode) {
                <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
                    <div>
                        <label class="font-semibold text-3xl" for="first-name">
                            <span class="label-text">First Name</span>
                        </label>
                        <p class="text-gray-800 text-xl font-medium">
                            {{ currentUser.first_name }}
                        </p>
                    </div>
                    <div>
                        <label class="font-semibold text-3xl" for="last-name">
                            <span class="label-text">Last Name</span>
                        </label>
                        <p class="text-gray-800 text-xl font-medium">
                            {{ currentUser.surname }}
                        </p>
                    </div>
                </div>
                <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 mt-4">
                    <div>
                        <label class="font-semibold text-3xl" for="phone">
                            <span class="label-text">Phone</span>
                        </label>
                        <p class="text-gray-800 text-xl font-medium">
                            {{ currentUser.phone_number[0].number }}
                        </p>
                    </div>
                    <div>
                        <label class="font-semibold text-3xl" for="birthday">
                            <span class="label-text">Birthday</span>
                        </label>
                        <p class="text-gray-800 text-xl font-medium">
                            {{ formatDate(currentUser.birthdate.toString(), "display") }}
                        </p>
                    </div>
                </div>
            } @else {
                <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
                    <div>
                        <label class="font-semibold text-3xl" for="first-name">
                            <span class="label-text">First Name</span>
                        </label>
                        <input class="input input-bordered w-full text-xl font-medium text-gray-800" type="text" id="first-name" formControlName="firstName">
                        @if(firstNameControl.invalid && firstNameControl.touched) {
                            @if (firstNameControl.errors?.['required']) {
                              <div class="error-message text-red-500 pl-3">First Name Must Not Null</div>
                            }
                            @else if(firstNameControl.errors?.['minlength'] && firstNameControl.errors?.['maxlength']) {
                              <div class="error-message text-red-500 pl-3">Name must be 2 to 60 alphabets</div>
                            }
                            @else if (firstNameControl.errors?.['pattern']) {
                              <div class="error-message text-red-500 pl-3">Must Enter Valid First Name</div>
                            }
                        }
                    </div>
                    <div>
                        <label class="font-semibold text-3xl" for="last-name">
                            <span class="label-text">Last Name</span>
                        </label>
                        <input class="input input-bordered w-full text-xl font-medium text-gray-800" type="text" id="last-name" formControlName="lastName">
                        @if(lastNameControl.invalid && lastNameControl.touched) {
                            @if (lastNameControl.errors?.['required']) {
                              <div class="error-message text-red-500 pl-3">Last Name Must Not Null</div>
                            }
                            @if(lastNameControl.errors?.['pattern']) {
                              <div class="error-message text-red-500 pl-3">Must Enter Valid Last Name</div>
                            }
                          }
                    </div>
                </div>

                <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 mt-4">
                    <div>
                        <label class="font-semibold text-3xl" for="phone">
                            <span class="label-text">Phone</span>
                        </label>
                        <input class="input input-bordered w-full text-xl font-medium text-gray-800" type="text" id="phone" formControlName="phoneNumber">
                        @if(phoneNumberControl.invalid && phoneNumberControl.touched) {
                            @if (phoneNumberControl.errors?.['required']) {
                            <div class="error-message text-red-500 pl-3">Phone No: Must Not Null</div>
                            }
                            @if(phoneNumberControl.errors?.['pattern']) {
                              <div class="error-message text-red-500 pl-3">Input Valid Phone No Format ex: 09123456789</div>
                            }
                          }
                    </div>
                    <div>
                        <label class="font-semibold text-3xl" for="birthday">
                            <span class="label-text">Birthdate</span>
                        </label>
                        <input class="input input-bordered w-full text-xl font-medium text-gray-800" type="date" id="birthday" formControlName="birthdate">
                        @if(birthdateControl.invalid && birthdateControl.touched) {
                            @if (birthdateControl.errors?.['required']) {
                              <div class="error-message text-red-500 pl-3">Date of Birth must not be null</div>
                            }
                            @if (birthdateControl.errors?.['adultAge']) {
                              <div class="error-message text-red-500 pl-3">Enter Valid Birthday and Must be 18 Years Old</div>
                            }
                          }
                    </div>
                </div>
            }
            <div class="mt-4">
                <label class="font-semibold text-3xl" for="email">
                    <span class="label-text">Email</span>
                </label>
                <p class="text-gray-800 text-xl font-medium">
                    {{ currentUser.email }}
                </p>
            </div>
        </div>       
    </form>    
</div>
<app-footer></app-footer>
