@if(propertyLoaded){
  <div class="carousel w-full">
    <div id="item1" class="carousel-item w-full" #carouselItems>
      <img src="{{ firstImage }}" class="w-full" />
    </div>
    <div id="item2" class="carousel-item w-full" #carouselItems>
      <img src="{{ secondImage }}" class="w-full" />
    </div>
    <div id="item3" class="carousel-item w-full" #carouselItems>
      <img src="{{ thirdImage }}" class="w-full" />
    </div>
    <div id="item4" class="carousel-item w-full" #carouselItems>
      <img src="" class="w-full" />
    </div>
    <!-- TODO: make this dynamic -->
  </div>
  <div class="flex justify-center w-full py-2 gap-2">
    <button (click)="showItem(0)" class="btn btn-xs">1</button>
    <button (click)="showItem(1)" class="btn btn-xs">2</button>
    <button (click)="showItem(2)" class="btn btn-xs">3</button>
    <button (click)="showItem(3)" class="btn btn-xs">4</button>
  </div>
} @else {
    <div class="carousel w-full">
      <div class="carousel-item animate-pulse bg-gray-200 rounded shadow h-64 w-full" #carouselItems>
      </div>
      <div class="carousel-item animate-pulse bg-gray-200 rounded shadow h-64 w-full" #carouselItems>
      </div>
      <div class="carousel-item animate-pulse bg-gray-200 rounded shadow h-64 w-full" #carouselItems>
      </div>
      <div class="carousel-item animate-pulse bg-gray-200 rounded shadow h-64 w-full" #carouselItems>
      </div>
    </div>
    <div class="flex justify-center w-full py-2 gap-2">
      <button class="btn btn-xs animate-pulse">&nbsp;</button>
      <button class="btn btn-xs animate-pulse">&nbsp;</button>
      <button class="btn btn-xs animate-pulse">&nbsp;</button>
      <button class="btn btn-xs animate-pulse">&nbsp;</button>
    </div>
}

