.carousel-item {
    width: 100%;
    align-items: center;
    justify-content: center;
}

.carousel-item img {
    border-radius: 20px;
    height: 400px;
    width: 70%;
    object-fit: cover;
    margin-top: 50px;
}

.carousel-item {
  display: none;
}

.carousel-item.active {
  display: flex;
}
