<div class="mx-20 my-10">
    <h1 class="text-4xl font-bold">Property Applications</h1>
    <div class="mt-4 flex flex-wrap">
        @if(loaded && !applications.length){
        <div class="flex items-center justify-center w-full h-full full-height my-24">
            <div class="card w-96 bg-white shadow-xl">
                <div class="card-body items-center text-center">
                    <img src="../../assets/empty.png" class="h-100 w-100">
                    <h2 class="card-title">Whoops?!</h2>
                    <p>There's nothing to see here right now.</p>
                </div>
            </div>
        </div>
        } @else if(loaded && applications.length) {
            @for (card of applications; track $index) {
                <app-application-card [application]="card" />
            }
        } @else {
        <div class="flex gap-6 mt-4">
            <app-card-skeleton></app-card-skeleton>
            <app-card-skeleton></app-card-skeleton>
            <app-card-skeleton></app-card-skeleton>
        </div>
        }
    </div>
</div>