<div class="container mx-auto px-4 py-8">
  <app-filtration [uniqueCities]="uniqueCities" (filtersChanged)="onFiltersChanged($event)"/>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 place-items-center">
    @if(loaded && !paginatedCards){
      <div class="flex items-center justify-center w-full h-full full-height my-24">
        <div class="card w-96 bg-white shadow-xl">
            <div class="card-body items-center text-center">
                <img src="../../assets/empty.png" 
                     class="h-100 w-100">
                <h2 class="card-title">Whoops?!</h2>
                <p>There's nothing to see here right now.</p>
            </div>
        </div>
    </div>
    } @else if (loaded && paginatedCards) {
      @for (card of paginatedCards; track card.id) {
        <app-property-card [card]="card" [cardId]="card.id" />
      }
    } @else {
        @for (n of [1,2,3,4,5,6,7,8,9]; track $index) {
            <app-card-skeleton/>
        }
    }
  </div>
  @if(cards.length > 9){
    <app-pagination [currentPage]="currentPage" [totalPages]="totalPages"
      (pageChanged)="onPageChanged($event)"/>
  }
</div>

