<!-- The button to open modal -->
<label for="my_modal_7" class="btn">open modal</label>

<!-- Put this part before </body> tag -->
<input type="checkbox" id="my_modal_7" class="modal-toggle" />
<div class="modal" role="dialog">
  <div class="modal-box text-center">
    <img src="./../../assets/success.svg" alt="Success" class="w-9/12 h-2/6 mx-auto mb-4" >
    <p class="py-4">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    <p class="py-4 text-sm" >Click Anywhere to continue.</p>
  </div> 
  <label class="modal-backdrop" for="my_modal_7">Close</label>
</div>
