<app-navbar></app-navbar>
<link rel="stylesheet" href="./presskit.component.css">
<div class="flex 
            flex-col 
            lg:flex-row 
            items-center 
            justify-center 
            min-h-screen 
            mt-10">
    <div class="w-full 
                lg:w-1/2 
                p-6 
                lg:p-12 
                bg-white 
                shadow-lg 
                rounded-xl 
                m-2">
        <div class="text-black font-medium space-y-6">
            <p><strong>Welcome to Space Share!</strong></p>
            <p>This press kit provides information about Space Share, a website 
                dedicated to simplifying affordable apartment hunting in the 
                National Capital Region (NCR) of the Philippines.</p>
            <p><strong>About Space Share</strong><br>Founded in 2024 by VRZN 
                Industries Ltd., Space Share is a user-friendly platform 
                connecting renters and landlords directly.</p>
            <p>Our mission is to make finding an affordable apartment in the 
                NCR effortless. We achieve this by:</p>
            <ul class="list-disc list-inside">
                <li>Prioritizing budget-friendly listings.</li>
                <li>Offering a user-friendly platform for both renters and 
                    landlords.</li>
                <li>Fostering a community focused on positive interaction.</li>
            </ul>
            <p><strong>Why Space Share is in the News</strong><br>Space Share 
                is revolutionizing the NCR rental market by making affordable 
                apartment hunting a breeze through its user-friendly platform.
            </p>
            <p><strong>Media Contact</strong>
                <br>VRZN Industries Ltd.
                <br>Metro Manila, Philippines, NCR
                <br>vrzn.support.ph
                <br>
            </p>
            <p><strong>Social Media Links</strong>
                <br>Facebook: <a href="#" 
                                 class="text-blue-500 underline">
                                 VRZN Industries Official</a>
                <br>Twitter: <a href="#" 
                                class="text-blue-500 underline">
                                VRZN Industries</a>
                <br>Instagram: <a href="#" 
                                class="text-blue-500 underline">
                                VRZN Industries Ltd.</a></p>
        </div>
    </div>
</div>
<app-footer></app-footer>

