<div class="flex justify-center items-center mt-10">
    <div class="card w-full md:w-10/12 bg-base-100 border-gray-300 border-1 shadow-xl flex flex-col items-center">
        <b class="font-bold text-2xl text-center mt-6 mb-4">
            Meet your Host!
        </b>
        <div class="flex flex-col md:flex-row items-center justify-evenly ml-0 md:ml-7 gap-4 mb-4">
            <div class="w-24 h-24 flex justify-center items-center rounded-full border-2 border-gray-400 mb-4 md:mb-0">
                <svg class="w-20 h-20 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd">
                    </path>
                </svg>
            </div>
            <div class="text-center md:text-left">
                <b class="text-lg text-black block" for="log-in-mdl">{{ firstName }} {{ surname }}</b>
                <b class="text-lg text-black block">{{ phoneNumber }}</b>
                <b class="text-lg text-black block">{{ email }}</b>
            </div>
        </div>
        <p class="text-center mb-8 w-11/12">By clicking Contact Seller, 
            you are accepting Spaceshare's <a href="#" 
            class="text-blue-600 hover:underline"> Terms and Conditions</a> 
            and <a href="#" class="text-blue-600 hover:underline">
            Privacy Policy.</a>
        </p>
    </div>
</div>



