<div class="card w-full bg-base-100 shadow-xl mt-10">
    <b class="font-bold text-3xl text-black text-center mt-5">
        Meet your Host!</b>
    <figure class="px-10 pt-5">
      <img src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.jpg" 
           alt="Host Picture" 
           class="rounded-xl w-96" />
    </figure>
    <div class="card-body items-center">
        <b class="text-lg text-black">Name: {{ firstName }} {{ surname }}</b>
        <b class="text-lg text-black">Phone Number: {{ phoneNumber }}</b>
        <b class="text-lg text-black">Email: {{ email }}</b>
        <p class="text-center mt-4 w-9/12">By clicking Contact Seller, 
            you are accepting Spaceshare's <a href="#" 
            class="text-blue-600"> Terms and Conditions</a> 
            and <a href="#" class="text-blue-600">
            Privacy Policy.</a>
        </p>
        <div class="card-actions justify-end">
        </div>
      </div>
  </div>
